*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ROBOTO', sans-serif;
}

body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    color: aliceblue;
}
#idFoguete{
    left: 45%;
    width: 33px;
    height: 73px;
}

.position{
    user-select: none;
    z-index: 99;
    position: absolute;
    top: 0px;
}
#informacao,
.status_foguete{
    user-select: none;
    background-color:#5A1CC9;
    min-width: 100px;
    font-weight: bold;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#informacao{
    left: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    z-index: 99;
    position: absolute;
    top: 0px;
}


.blue-neon {
    box-shadow:
      0 0 2px 1px rgba(100,150,255,0.9),
      0 0 2px 1px rgba(100,150,255,1) inset,
      0 0 1px 1px rgba(0,50,255,0.9),
      0 0 1px 1px rgba(0,50,255,0.7) inset;
  }
  .sucess,
  .sucess main,
  .fail,
  .fail main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sucess,
  .fail{
    display: none;
    transition-property: transform;
    transition-timing-function:ease-in;
    transition-duration: .2s;
  }

  .menu_fail{
    display: flex;
  }

  .menu_sucess{
    display: flex;
  }

  .sucess main button,
  .fail main button{
    width: 100%;
    padding: 4px;
    background-color: white;
    margin-top:8px;
    font-weight: 600;
    color: #5A1CC9;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }
  .sucess main button:hover,
  .fail main button:hover{
    background-color: rgb(252, 126, 126);
    color: white;
  }

  img {
    pointer-events: none;
}

.container{
    margin: 0 auto;
    position: absolute;
    padding: 30px;
    min-width: 400px;
    height: 100vh;
    background-image: url(src/AdobeStock_469890000.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#solo {
    user-select: none;
    width: 200px;
    position: absolute;
    top:425px ;
    left: 23%;
}


@media screen and (max-width: 500px) {
    .container{
        height: 100vh;
    }
    #solo {
        left: 23%;
    }
    #idFoguete{
        left: 46%;
    }
}